.about {
    font-size: 18px;
    font-weight: 200;
    padding: 20px;
    padding-top: 50px;
}

.content {
    padding-top:10px;
    font-weight: 200;
    justify-content: center;
    max-width: 60%;
    display: inline-block;
}

h1 {
    font-weight: 100;
    border-bottom: 1px solid #000000;
}

.red {
    color: #d9534f;
}

.blue {
    color:  #55acee;
}

.favorite-things {
    display: flex;
    font-weight: 200;
    justify-content: center;
    flex-direction: row;
}

.thing {
    clear: left;
    text-align: center;
    padding: 15px 50px;
}

.fa {
    font-size: 50px;
}